#home
  .buttons
    #button1
      %button.button1 RULES
    #button2
      %button.button.button2 WTF?
    #button3
      %button.button.button3
        SUBMIT
        %br
        CARDS
    #button4
      %button.button.button4
        GROUPE
        %br
        GALLERY
  =image_tag 'title.jpg', id: 'image1'
  =image_tag 'cards.jpg', id: 'image2'
  =image_tag 'line.jpg', id: 'image3'
  =image_tag 'text.jpg', id: 'image4'
  =image_tag 'text2.jpg', id: 'image5'